/* Site Styles Go Here */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-element {
    flex: 0 1 auto;
   
}

/* Style buttons*/
.btn-primary {
    background-color: #ff0090;
    border-color:#ff0090;
}
.btn-primary:hover {
    background-color: black;
}

/* style product pages*/
.row {
    padding: 5%;
}
div.row:nth-of-type(even){
    background-color:pink;
}


/* style visited liks */

a:visited {
    color:git#90ee90;


}